
<!-- templates/partials/header.html -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm mb-5">
    <div class="container p-4">
      <a class="navbar-brand fw-bold text-white" href="{% url 'home' %}">ShopMate</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarContent">
        <!-- Search Form -->
        <form class="d-flex ms-auto me-4" action="" method="GET">
          <input class="form-control me-2" type="search" name="q" placeholder="Search products..." aria-label="Search">
          <button class="btn btn-outline-primary" type="submit">Search</button>
        </form>
        <!-- Nav Links -->
        <ul class="navbar-nav mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link text-white" href="">
              🛒 Cart 
              {% if cart.item_count > 0 %}
                <span class="badge bg-danger">{{ cart.item_count }}</span>
              {% endif %}
            </a>
          </li>
          {% if user.is_authenticated %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown">
                👤 {{ user.username }}
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="">Profile</a></li>
                <li><a class="dropdown-item" href="">My Orders</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="">Logout</a></li>
              </ul>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link text-white" href="">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="">Register</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
  